body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0;
    padding:0;
    overflow: hidden;
}
#column-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    padding: 2px;
}
#left {
    height: 99vh;
    width: 175px;
    min-width: 175px;
    background-color: #4a4a4a;
    overflow: hidden;
    list-style-type: none;
    padding: 10px;
    /* padding-left: 5px; */
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 5px 2px 5px #bababa;
}
#left input {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 5px;
    width: 90%;
    background-color: #4a4a4a;
    border-color: #767676;
}
#left input:disabled{
    border-color: #767676;
}
#left ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
    line-height: 3em;
    color: #7b7b7b;
}
#left li:hover {
    color: whitesmoke;
}
footer {
    font-size: .5em;
    position: absolute;
    bottom: 10px;
    width: inherit;
    text-align: center;
    color: #7b7b7b;
}
#right {
    height: 100vh;
    width: 82%;
    padding: 20px;
    overflow: auto;
}
#right h1 {
    display: inline-block;
    padding-left: 10px;
    margin: 0;
    font-weight: lighter;
}
article {
    padding-bottom: 20px;
}
article h2 {
    text-transform: uppercase;
    font-size: .75em;
    color: #333333;
    padding-top: 20px;
}
blockquote {
    text-align: left;
    margin-top: 35px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background: #dcdcdc;
    color: #8e8e8e;
    border-left: 5px solid #8e8e8e;
    font-style: italic;
    font-size: .9em;
    line-height: 1.6;
}
blockquote p {
    text-align: right;
}
blockquote::before {
    content: "\201C";
    display: block;
    font-size: 2em;
    left: -10px;
    top: -25px;
    position: relative;
    height: 0;
}
blockquote::after {
    content: "\201C";
    display: block;
    font-size: 2em;
    right: -95%;
    top: -70px;
    position: relative;
    height: 0;
}
